div.container-error {
  max-width: 100%;
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  height: 80vh;
}

div.content-error {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.content-error h1 {
  color: #ff3232;
}

div.content-error p {
  color: #999999;
  font-size: 1.7rem;
  margin: 20px 0 20px 0;
  text-align: center;
}

.redirect-button {
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 10px 30px 10px 30px;
  width: 60%;
  border-radius: 10px;
  background-color: #0f6;
  border: 1px solid #0f6;
  transition: 0.5s;
}

.redirect-button:hover {
  background-color: #fff;
  color: #333;
  transform: scale(1.1);
}

@media (max-width: 470px) {
  div.content-error {
    border-radius: 0px;
    width: 100%;
  }
}
